.container {
  width: 96%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.container .good-info {
  color: #7d7d7d;
}
.container .good-info .good-name {
  width: 95%;
  color: #444;
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: 1rem;
  word-break: break-all;
  word-wrap: break-word;
}
.container .good-info .person .head-pic {
  float: left;
  width: 4rem;
  height: 4rem;
  padding: 0 .5rem;
}
.container .good-info .person .head-pic img {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
}
.container .good-info .person .info {
  line-height: 1.5rem;
  float: left;
  padding: 0 1rem;
}
.container .good-info .person .info .nick-name {
  padding-top: .5rem;
  color: #6cbbe3;
  font-size: 1.1rem;
  display: block;
}
.container .good-info .person .info .time {
  padding-bottom: .5rem;
  display: block;
}
.container .good-info .person .contact-button {
  float: right;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  background-color: #f2437e;
  line-height: 3rem;
  padding: 0 1.5rem;
}
.container .good-info .person .contact-button:active {
  color: #f2437e;
  background-color: #ffffff;
  border: 1px solid #f2437e;
  box-sizing: border-box;
}
.container .good-info .status {
  width: 95%;
  margin: 0 auto;
  line-height: 150%;
  padding: 1rem 1rem 0;
  box-sizing: border-box;
}
.container .good-info .status .price {
  color: #f2437e;
}
.container .good-info .status .price .big {
  font-size: 1.3rem;
}
.container .good-info .status .left {
  float: right;
}
.container .good-info .address {
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  width: 95%;
  margin: 0 auto;
}
.container .good-info .address .addr {
  line-height: 200%;
}
.container .seller-info {
  line-height: 1.5rem;
  width: 95%;
  margin: .5em auto;
}
.container .seller-info img {
  float: left;
  display: inline-block;
  height: 1.5rem;
  padding: .25rem 1rem;
}
.container .seller-info span {
  float: left;
  display: inline-block;
  line-height: 2rem;
}
.container .seller-info .notice {
  display: block;
  line-height: 140%;
  font-size: .6rem;
  color: #f41200;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #f41200;
  border-radius: .3rem;
  margin: 1rem auto;
}
.container .goods-detail {
  font-size: .8rem;
  line-height: 150%;
}
.container .goods-detail img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}
.container .blank {
  line-height: 3rem;
}
.download-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
}
