<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.CollegeDao">
    <resultMap id="my_college" type="com.liangxunwang.unimanager.model.College">
        <id column="coid" property="coid"/>
        <result column="name" property="name"/>
        <result column="provinceid" property="provinceID"/>
        <result column="groupId" property="groupId"/>
        <result column="is_contract" property="isContract"/>
    </resultMap>

    <resultMap id="my_college_vo" type="com.liangxunwang.unimanager.mvc.vo.SchoolVO">
        <id column="coid" property="coid"/>
        <result column="name" property="name"/>
        <result column="provinceid" property="provinceID"/>
        <result column="groupId" property="groupId"/>
        <result column="is_contract" property="isContract"/>
        <result column="provinceName" property="provinceName"/>
    </resultMap>

    <select id="list" resultMap="my_college">
        SELECT * from college WHERE 1=1
        <if test="provinceId != null and provinceId != ''">
            AND provinceid=#{provinceId}
        </if>
        <if test="keyWords !=null and keyWords !=''">
            AND name like CONCAT('%',#{keyWords},'%')
        </if>
    </select>

    <update id="updateGroupId" parameterType="String">
        update college set groupId=#{groupId} where coid=#{coid}
    </update>

    <select id="getGroupId" parameterType="String" resultMap="my_college">
        SELECT * from college where coid=#{coid}
    </select>

    <select id="lists" resultMap="my_college_vo">
        SELECT sn.*,lc.pname as provinceName from college sn
        LEFT JOIN province lc ON sn.provinceID=lc.provinceID
        WHERE 1=1
        <if test="provinceId != null and provinceId != ''">
            AND sn.provinceid=#{provinceId}
        </if>
        <if test="keyWords !=null and keyWords !=''">
            AND sn.name like  CONCAT('%',#{keyWords},'%')
        </if>

        limit #{index},#{size}
    </select>


    <select id="count" resultType="long">
        SELECT count(coid) FROM college WHERE 1=1
        <if test="provinceId != null and provinceId != ''">
            AND provinceid=#{provinceId}
        </if>
        <if test="keyWords !=null and keyWords !=''">
            AND name like  CONCAT('%',#{keyWords},'%')
        </if>

    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.College">
        INSERT INTO college(coid, name, provinceID, groupId)
        VALUES (#{coid}, #{name}, #{provinceID}, #{groupId})
    </insert>


    <delete id="deleteById" parameterType="String">
        DELETE FROM college WHERE coid=#{coid}
    </delete>


</mapper>