<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.VideosDao">
    <resultMap id="videos" type="com.liangxunwang.unimanager.model.Videos">
        <id column="paopao_video_id" property="id"/>
        <result column="paopao_title" property="title"/>
        <result column="paopao_content" property="content"/>
        <result column="paopao_videopic" property="picUrl"/>
        <result column="paopao_videourl" property="videoUrl"/>
        <result column="paopao_isdel" property="isdel"/>
        <result column="dateline" property="dateline"/>
    </resultMap>

    <resultMap id="videos_vo" type="com.liangxunwang.unimanager.mvc.vo.VideosVO">
        <id column="paopao_video_id" property="id"/>
        <result column="paopao_title" property="title"/>
        <result column="paopao_content" property="content"/>
        <result column="paopao_videopic" property="picUrl"/>
        <result column="paopao_videourl" property="videoUrl"/>
        <result column="paopao_isdel" property="isdel"/>
        <result column="dateline" property="dateline"/>
        <result column="zan_num" property="zanNum"/>
        <result column="pl_num" property="plNum"/>
    </resultMap>


    <insert id="save" parameterType="com.liangxunwang.unimanager.model.Videos">
        INSERT INTO paopao_video (paopao_video_id, paopao_title, paopao_content, paopao_videopic, paopao_videourl, paopao_isdel, dateline)
        VALUES (#{id}, #{title}, #{content}, #{picUrl}, #{videoUrl}, #{isdel}, #{dateline})
    </insert>


    <select id="lists" resultMap="videos_vo">

        SELECT m.*
        FROM (
          SELECT sr.*,
            (select count(paopao_video_id) from paopao_video_favour zan where  zan.paopao_video_id = sr.paopao_video_id) as zan_num,
            (select count(paopao_video_id) from paopao_video_comment pl where  pl.paopao_video_id = sr.paopao_video_id) as pl_num
            FROM paopao_video sr
            WHERE 1='1'
            <if test="isdel != null and isdel != ''">
                AND paopao_isdel=#{isdel}
            </if>
        ) m

        ORDER BY m.dateline DESC

        limit #{index},#{size}
    </select>


    <select id="lists2" resultMap="videos_vo">

        SELECT m.*
        FROM (
        SELECT sr.*,
        (select count(paopao_video_id) from paopao_video_favour zan where  zan.paopao_video_id = sr.paopao_video_id) as zan_num,
        (select count(paopao_video_id) from paopao_video_comment pl where  pl.paopao_video_id = sr.paopao_video_id) as pl_num
        FROM paopao_video sr
        WHERE 1='1'
        <if test="isdel != null and isdel != ''">
            AND paopao_isdel=#{isdel}
        </if>
        ) m

        ORDER BY m.zan_num DESC

        limit #{index},#{size}
    </select>




    <select id="count" resultType="long">
        SELECT count(paopao_video_id) FROM paopao_video WHERE 1=1
        <if test="isdel != null and isdel != ''">
            AND paopao_isdel=#{isdel}
        </if>
    </select>


    <delete id="delete" parameterType="String">
        DELETE FROM paopao_video WHERE paopao_video_id=#{id}
    </delete>

    <select id="findById" resultMap="videos">
        SELECT * from paopao_video
        WHERE paopao_video_id = #{id}
    </select>

</mapper>